---
const {title, description, icon} = Astro.props;
---

<div class="bg-gray-950 border border-slate-800 h-80 w-72 rounded-2xl">
    <div class="flex justify-center items-center h-[70%]">
        <p class="text-[70px]">{icon}</p>
    </div>
    <div class="h-[30%] px-5">
        <h4 class="text-lg font-semibold text-white">{title}</h4>
        <p class="text-base font-normal text-white">{description}</p>
    </div>
</div>