---
const links = Astro.props;
---

<ul class="flex flex-col gap-2">
    <li><a href="" class="text-base font-medium text-black">Home</a></li>
    <li><a href="" class="text-base font-medium text-black">Whitepaper</a></li>
    <li><a href="" class="text-base font-medium text-black">Docs</a></li>
    <li><a href="" class="text-base font-medium text-black">Explorer</a></li>
</ul>