---
const links = Astro.props;
---

<ul class="flex flex-col gap-2 lg:flex-row lg:gap-10">
    <li><a href="#home" class="text-base font-medium text-black lg:text-white">Home</a></li>
    <li><a href="#about" class="text-base font-medium text-black lg:text-white">Whitepaper</a></li>
    <li><a href="" class="text-base font-medium text-black lg:text-white">Docs</a></li>
    <li><a href="" class="text-base font-medium text-black lg:text-white">Explorer</a></li>
</ul>