---
import HamburgerIcon from './HamburgerIcon.astro';
---

<nav class="flex justify-between items-center px-8 py-10">
    <div class="flex justify-start items-center">
        <a href="" class="text-xl font-semibold text-white">Llama Network</a>
    </div>
    <div class="flex justify-end items-center">
        <button class="">
            <HamburgerIcon />
            <HamburgerIcon />
            <HamburgerIcon />
        </button>
    </div>
</nav>